
@{
    ViewBag.Title = "List";
}

@model List<YMS5529_MVC_Sepet.Models.Product>

<div class="row" style="margin-top:50px;">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-lg-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Ad</th>
                            <th>Fiyat</th>
                            <th>Stok Adet</th>
                            <th>İşlem</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ProductID</td>
                                <td>@item.ProductName</td>
                                <td>@item.UnitPrice</td>
                                <td>@item.UnitsInStock</td>
                                <td>
                                    <a href="#" class="add-to-cart">
                                        <img src="~/Content/images/cart.png" class="btnCart"
                                             val="@item.ProductID" width="40" height="40" data-toggle="tooltip" data-placement="right" title="Sepete ekle" />
                                    </a>


                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Cart.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>

    $(document).ready(function(){

        $('.add-to-cart').on('click', function(){
            $('html', 'body').animate({
                'scrollTop': $(".cart_anchor").position().tops
            });
        
            var itemImg =$ (this).parent().find('img').eq(0);
            flyToElement($(itemImg), $('.cart_anchor'));
        });
    });
    $(function () {
        $('[data-toogle="tooltip"]')
    });

    $(".btnCart").click(function () {
        var id = $(this).attr("val");


        $.ajax({
            type: "POST",
            dataType: "Json",
            url: "/Cart/Add/"+id,
            success: function (data) {
                alert(data);

            }
        })

    })


</script>